.tableTodos{
   display: flex;
   justify-content: center;
}
.tableTodos div{
   border: 1px solid white;
   text-transform: capitalize;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
}
.tableTodos div:nth-child(1), .tableTodos div:nth-child(3){
   display: block;
   width: 60px;
   text-align: center;
}
.tableTodos div:nth-child(3){
   width: 120px;
}
.tableTodos div:nth-child(2){
   width: 100%;
   padding-left: 20px;
}
select{
   -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
   width: 100%;
   height: 100%;
   white-space: inherit;
   overflow: inherit;
   text-overflow: inherit; 
   background: transparent;
   color: white;
   border: none;
   text-transform: capitalize;
   cursor: pointer;
   text-align: center;
}
option{
   background: #282c34;
   text-transform: inherit;
}
